{
  "presets": ["es2015", "stage-0", "react","airbnb"],
  "env": {
    "development": {
      "presets": ["airbnb"]
    },
    "production": {
      "presets": []
    },
    "test": {
      "presets": ["airbnb"]
    }
  }
}
